<app-toolbar></app-toolbar>

<button routerLink="/" mat-button>Above</button>

<button mat-button [matMenuTriggerFor]="menuDataValidation">Data validation</button>
<mat-menu #menuDataValidation="matMenu">
  <button routerLink="/check-null-caphit-by-season" mat-menu-item>
    <span>Null caphit by season</span>
  </button>
  <button routerLink="/check-null-caphit-by-date" mat-menu-item>
    <span>Null caphit by date</span>
  </button>
  <button routerLink="['/caphit-validation', 1]" mat-menu-item>
    <span>Null personal info</span>
  </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuStructure">NHL structure</button>
<mat-menu #menuStructure="matMenu">
  <button mat-menu-item>
    <span>Conferences</span>
  </button>
  <button mat-menu-item>
    <span>Division</span>
  </button>
  <button mat-menu-item>
    <span>Teams</span>
  </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuStatictics">Statictics</button>
<mat-menu #menuStatictics="matMenu">
  <button mat-menu-item>
    <span>Team statistics</span>
  </button>
  <button mat-menu-item>
    <span>Player statistics</span>
  </button>
  <button mat-menu-item>
    <span>Games statistics</span>
  </button>
</mat-menu>

<div class="container">
  <router-outlet></router-outlet>
</div>